input {
    outline: none;
}

.price {
    padding: 4px 25px;
    border: 1px solid #808080;
    border-radius: 10px;
    display: inline-block;
    color: #808080;

}

.input-price:focus {
    border: 2px solid #2db133;
}

.delete-button {
    border-radius: 45%;
    border: 1px solid #808080;
    margin: 0 5px;
    color: #808080;
}

.error {
    color: red;
    font-family: sans-serif;
}

.redError {
    border: 2px solid red;
}